#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

#only-shop-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#shop-item {
    background: rgba(136, 136, 228, 0.446);
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    aspect-ratio: 1/1;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shop-item img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

#shop-item q {
    text-align: justify;
    background: rgba(20, 16, 16, 0.605);
    padding: .5rem 2rem;
    color: white;
    border-radius: 0 1rem;
}

#shop-item button {
    color: white;
    background: rgb(34, 31, 31);
    border: none;
    box-shadow: 1px 1px 3px rgb(13, 66, 107);
    margin: 1rem;
    padding: .5rem 1rem;
}

#shop-item button:active{
    background: purple;
    box-shadow: -1px -1px 3px rgb(13, 66, 107);
}

#shop-item input {
    width: 3rem;
    padding: .5rem 1rem;
}

@media only screen and (max-width: 750px) {
    #shop-item {
        width: 60%;
    }
}

@media only screen and (max-width: 550px) {
    #shop-item {
        width: 90%;
    }
}